@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --blue-color: #5095EC;
    --black-color: #505050;
    --second-tx-color: #8F8F8F;
    --grey-color: #D3D8DE;
    --bg-color: #F1F1F1;
    --white-color: #FFFFFF;
    --bg2-color: #FAFAFA;

    --gap-content: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--black-color);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    margin: 0;
}

p{
    margin: 0;
}

/* h1{
    font-size: 36px;
    line-height: 32px;
}

h3{
    font-size: 18px;
    line-height: 21.09px;
} */

img{
    width: 100%;
    height: 100%;
}

body{
    color: black;
    background-color: var(--bg-color);
}

.header-static{
    background-color: var(--white-color);
    height: 64px;
    box-shadow: 0px 1px 1px 0px #0000001A;
}

.static-title{
    font-size: 18px;
    gap: var(--gap-content);
}

.static-title-logo{
    transform: rotate(180deg);
}

.static-title-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
}

.static-title-text span{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
}

.static-page-links{
    gap: calc(var(--gap-content)/2);
}

.static-page-button{
    gap: calc(var(--gap-content)/2);
}

.static-page-button-logo *{
    color: var(--blue-color) !important; 
}

.header-nav{
    background-color: var(--bg2-color);
    height: 40px;
    max-height: 40px;
    box-shadow: 0px 1px 1px 0px #0000001A;
}

.nav{
    /* height: 100%;
    display: flex; */
}

.nav-button{
    height: 100%;
    padding: 0 16px;
    /* display: flex;
    align-items: center; */
    gap: calc(var(--gap-content)/2);
}

.nav-button:hover{
    background-color: var(--grey-color);
}

.nav-button-selected{
    background-color: var(--grey-color);
}

.content-container{
    /* margin-top: calc(var(--gap-content)*2); */
    /* display: flex; */
    /* gap: calc(var(--gap-content)*2); */
}

.content{
    /* width: 100%; */
}

.sidebar{
    /* width: 400px; */
}

.card{
    margin-bottom: var(--gap-content);
    background-color: var(--white-color);
    box-shadow: 0px 0px 2px 0px #0000001A;
    border-radius: 0;
    border: none;
}

.card-title{
    font-weight: 500;
    line-height: 20px;
}

.card-title-container{
    padding: 8px 0px 0px 0px;
}

.card-title-content{
    padding: 0px 16px;
}

.card-title-logo{
    background-color: var(--grey-color);
}

.button-line{
    height: 4px;
    padding-top: 3px;
}

.line{
    border-top: 1px solid var(--grey-color)
}

.sidebar-buttons{
    
    /* gap: var(--gap-content); */
}

.sidebar-button{
    padding: 0px 16px;
}

.sidebar-button-logo{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-color: var(--grey-color);
}

.form{
    /* gap: calc(var(--gap-content)/2); */
    padding: 0 16px;
}

.form-textarea{
    resize: none;
    width: 100%;
    /* height: 100px;
    border: var(--grey-color) 1px solid;
    padding: 8px 16px;
    border-radius: 4px;
    line-height: 20px; */
}

.form-button{
    background-color: var(--blue-color);
    color: var(--white-color);
    border: var(--blue-color) 0.2rem solid;
}

.form-button:hover{
    background-color: var(--white-color);
    color: var(--blue-color);
    border: var(--blue-color) 0.2rem solid;
}

.account{
    padding: 32px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: var(--gap-content); */
}

.account-photo{
    width: 132px;
    height: 132px;
    background-image: url(/Images/Alex.jpg);
    background-position: top 30% left 55%;
    background-size: 200px;
    border-radius: 50%;
}

.account-profession{
    text-align: center;
    color: var(--second-tx-color);
}

.account-links{
    display: flex;
    /* gap: calc(var(--gap-content)/2); */
}

.account-link{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.account-link img{
    width: 100%;
    height: 100%;
}

.content-block{
    padding: 30px 40px;
    padding-top: 0;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* gap: var(--gap-content); */
    /* align-items: center; */
}

.content-block-image{
    width: 100%;
}

.content-block-text{
    height: 100%;
    /* gap: calc(var(--gap-content)/2); */
    align-items: normal;
    text-align: justify;
    
}

.content-block-title{
    text-align: center;
    margin: 20px
}

.arrow{
    width: 10px;
    height: 10px;
    margin-top: 6px;
    border-top: var(--black-color) 2px solid;
    border-right: var(--black-color) 2px solid;
    border-radius: 1px;
}

.arrow-top{
    transform: rotate(-45deg);
}

.arrow-down{
    transform: rotate(135deg);
}

.map{
    min-width: 300px;
    min-height: 200px;
    height: 30vw;
    width: 100%;
}